.container {
  width: 80%;
  height: 60;
  margin: auto;
  text-align: center;
  background-color: #298508;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #298508;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.bttn button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #000;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.bttn button:hover {
  transform: scale(1.1);
  background-color: #eee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
